.modals {
    position: absolute;
    top: 8%;
    right: 33%;
    z-index: 999;
    border: 1px solid #ccc;
    /* background-color: #f50e0e; */
    background-color: white;
    padding: 16px;
    margin: -2px;
    width: 39%;
    border-radius: 15px;
}

.modal-header {
    position: absolute;
    right: 5%;
    top: 5%;
}

h2 {
    margin: -6px;
    margin-right: -12px;
    position: absolute;
    right: -9px;
}
h2:hover {
    cursor: pointer;
}
.notFound {
    left: -511px;
    position: absolute;
    top: 5px;
}